<tbody>
  <% @users.each do |user| %>
  <tr>
   <td>
     <%= attachment_image_tag user, :profile_image, :fill,40,40, format: 'jpag', fallback: "no_image.jpg", size: "40x40" %>
   </td>
   <td>
     <%= user.name %>
   </td>
   <td>
     <%= link_to '詳細', user_path(user.id) %>
   </td>
  </tr>
  <% end %>
 </tbody>