<div class="background3">
  <div class="row">
    <div class="col-12 cake_image">
      <p></p>
      <h1 class="d-flex justify-content-center"><strong class="introduction">WALK_life</strong></h1>
    </div>
  </div>

    <p></p>

    <div align = "center"><strong class="introduction">このサイトでは、歩いた歩数を記録し、何歩歩いたか確認するためのアプリです。</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction">運動不足の人、ダイエット中の人、気晴らしに軽く運動したい人、歩くことが好きな人</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction">どなたでもご利用いただけます。</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction"> WALK_lifeを是非、ご活用ください。</strong></div>

</div>